.solved {
    color: green;
}

.unsolved {
    color: red;
}

.flag-panel {
  margin: 0 auto;
  width: 300px;
}

.flag-form {
  width: 300px;
}

.problem-title {
  display: block;
  font-size: 18px;
  line-height: 1.25em;
}

.flag-input {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#recaptcha_response_field {
  margin-top: 0.5em;
}
