.solved {
    color: green;
}

.unsolved {
    color: red;
}

.flag-panel {
  float: right;
}

.flag-form {
  margin-top: 2em;
  width: 320px;
}

.problem-title {
  display: block;
  font-size: 18px;
  line-height: 1.25em;
}

.flag-input {
  margin-bottom: 0.5em;
}
